body{
    color: #fffbfb;
    background: rgb(17, 82, 7);
    padding: 15px;
}
h2{
    font-size: 48px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
}